<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style type="text/css">
        .box2{
            background:url("/images/2.jpg");
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="box2">

<h3><a href="mailto:#">借卖方</a>
    <small>>>我的订单</small>
    <small>>>订单明细</small>
</h3>
<hr />
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-12" >

                    <div >
                    <dl class="dl-horizontal">
                        <dt><h2>订单ID</h2></dt>
                        <dd><h2 th:text="${session.nutit}"></h2></dd>
                    </dl>
                    <table class="table table-hover"   >
                        <thead>
                        <tr>
                            <th >商品名称</th>
                            <th >商品单价</th>
                            <th>商品数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="BORO:${session.orderinfo_borrower}" >
                            <td th:text="${BORO.getGoodId().getGoodName()}">开挂挂件</td>
                            <td th:text="${BORO.getGoodFormPrice()}">5000000</td>
                            <td th:text="${BORO.getGoodFormNum()}">29</td>
                        </tr>

                        </tbody>
                    </table>
                    </div>
                    <blockquote class="blockquote-reverse">
                            <h3>总价:</h3>
                            <h3 th:text="${session.totalprice}">6000000</h3>
                    </blockquote>

                    <blockquote class="blockquote-reverse">
                        <h3>下单时间:</h3>
                        <h3 th:text="${session.createtime}">2015-05-05</h3>
                    </blockquote>
                    </div>

            </div>
        </div>

    </form>
</body>
</html>